
body {
  font-family:'Luckiest Guy', cursive;

}
h1 {
  font-family:'Luckiest Guy', cursive;
  font-size: 80px;
  margin-top: 50px;
  color: #ea682c;
}

.player {
  margin: 30px 0;
}
#player-top {
  position: relative;
  background: url("face_02.png") no-repeat;
  width: 100px;
  height: 100px;
}

#player-bottom {
  position: relative;
  background: url("face_01.png") no-repeat;
  width: 100px;
  height: 100px;
}
.row2 {
  width: 200px;
  height: 100px;
  border: 3px solid black;
  border-radius: 5px;
  margin: 0 auto;
  padding-left: 20px;
  padding-top: 5px;
}
.game-board {
  margin: 30px 10px;
  background-color: #a7f9ec;
  padding: 5px 0;
  height: 300px;

}

img {
  width: 50px;
  height: 50px;
  position: center;
  margin: 0 auto;
}
p {
  font-size: 15px;
}

.player-top-button{
  margin: 10px;
  display: inline-block;
}
.player-bottom-button{
  margin: 10px;
  display: inline-block;
}
.btn {
  background-color: #777676;
  color: white;
  width: 150px;
  font-size: 20px;
  padding-top: 15px;
  left: 0;
  position: absolute;
  margin: 30px auto;
  right: 0;
}

.btn-reset:hover {
  background-color: #ea682c;
  color: white;
}

/*.tmp-hidden {
  display: none;
}*/
